.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 3%;
    div{
        a{
            margin: 15px 5px;
        }
    }
}

.badge{
    margin-left: 5px;
    margin-top: -5px;
}