.userForm{
    background-color: rgb(215, 244, 253);
    margin: 30px;
    padding: 70px;
    padding-bottom: 20px;
    border-radius: 5px;
}
.title{
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
form{
    margin: 20px !important;
    padding: 30px !important;
}